<!doctype html>
<html>
<head>
  <title>Login</title>
  <!-- Link to external CSS file -->
  <link href="static/styles/stile.css" rel="stylesheet" type="text/css">
  <!-- Meta tag for responsive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon for the page -->
  <link rel="icon" type="image/png" href="static/favicon/favicon.png">
</head>
<body>
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>

  <br><br><br><br>
  <div id="login">
    <h2>Accedi</h2>
    <form id="login-form" method="post" action="/">
      <label for="username">Username: </label><br>
      <input type="text" id="username" name="username" required><br><br>

      <label for="password">Password: </label><br>
      <input type="password" id="password" name="password" required><br><br>

      <input id="accedi" type="submit" value="Accedi" class="button">
      <label>Se non sei registrato, clicca il bottone: </label>
      <a href="/registrazione"><button id="registrati" type="button" class="button">Registrati</button></a>
    </form>

    <div id="response-banner" style="display:none;"></div>
  </div>
  <footer>
    <p>&copy; 2024 Sistema di Gestione Analisi Sangue. Tutti i diritti riservati. Autore: Ciaramidaro Salvatore</p>
  </footer>

  
  <!-- Carica lo script alla fine del body -->
  <script src="static/scripts/login.js"></script>
</body>
</html>