<!doctype html>
<html>
<head>
  <title>Registrazione</title>
  <link href="static/styles/stile.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="static/favicon/favicon.png">
</head>
<body>
    <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
  
  <br>
  <br>
  <br>
    <div id="login">
      <h2>Registrazione Operatore</h2>
      <form id="login-form" method="post" action="/registrazione">
        <label for="username">Username: </label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password: </label><br>
        <input type="password" id="password" name="password" pattern=".{8,}" title="La password deve contenere almeno 8 caratteri" required><br><br>

        <label for="nome_operatore">Nome Operatore: </label><br>
        <input type="text" id="nome_operatore" name="nome_operatore" required><br><br>

        <input id="accedi" type="submit" value="Registrati" class="button">
        <label>Se sei registrato clicca il bottone: </label>
        <a href="/"><button id="accedi" type="button" class="button">Accedi</button></a>
      </form>

      <div id="response-banner" style="display:none;"></div>
    </div>
    <footer>
      <p>&copy; 2024 Sistema di Gestione Analisi Sangue. Tutti i diritti riservati. Autore: Ciaramidaro Salvatore</p>
    </footer>

    <!-- Carica lo script alla fine del body -->
    <script src="static/scripts/registrazione.js"></script>
</body>
</html>