h2 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 20px;
  font-weight: bold;
}


#login {
    position: center;
    top: 50%; left: 50%;
    width: 700px;
    height: 380px; /* Added 'px' unit */
    margin: 2px auto;
    text-align: center;
    padding: 2px; 
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    align-items: center;
    text-align: center;

}

#login-form input[type="text"],
#login-form input[type="password"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

#login-form input[type="text"]:focus,
#login-form input[type="password"]:focus {
    outline: none;
    border-color: #e63946;
    box-shadow: 0 0 5px rgba(230, 57, 70, 0.3);
}

#login-form input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #e63946;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}


label {
  display: block;
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
  text-align: center;
}


html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #ff0000 150%);
  overflow: hidden;
}

.ocean { 
  height: 0%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
    filter: hue-rotate(180deg) saturate(10);
}


.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}