/* Stile per gli elementi h2 */
h2 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Stile per il contenitore del login */
#login {
    position: center; 
    top: 50%; left: 50%; 
    width: 700px;
    height: 550px; 
    margin: 2px auto; 
    text-align: center; 
    padding: 2px; 
    background-color: rgb(255, 255, 255); 
    border-radius: 20px; 
    align-items: center; 
    text-align: center;
    z-index: 1; /* Porta il contenitore del login in primo piano rispetto l'onda */
}

/* Stile per gli input di testo e password nel form di login */
#login-form input[type="text"],
#login-form input[type="password"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    font-size: 1rem; 
}

/* Stile per gli input di testo e password quando sono in focus */
#login-form input[type="text"]:focus,
#login-form input[type="password"]:focus {
    outline: none; 
    border-color: #e63946; 
    box-shadow: 0 0 5px rgba(230, 57, 70, 0.3); 
}

/* Stile per il pulsante di submit nel form di login */
#accedi {
    width: 50%; 
    padding: 10px; 
    background-color: #e63946; 
    color: white; 
    font-size: 1rem; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; /* Cambia il cursore in una mano */
    transition: background 0.3s ease;
}

#registrati {
  width: 50%; 
  padding: 10px; 
  background-color: white; 
  color: #e63946; 
  font-size: 1rem; 
  font-weight: bold;
  border: 2px solid #e63946; 
  border-radius: 5px; 
  cursor: pointer; /* Cambia il cursore in una mano */
  transition: background 0.3s ease; /* Transizione per il cambio di sfondo */
  outline: none; /* Rimuove il contorno predefinito */
  box-shadow: 0 0 5px rgba(230, 57, 70, 0.3); 
}

/* Stile per le etichette */
label {
  display: block; 
  font-weight: bold; 
  color: #555; 
  margin-bottom: 5px; 
  text-align: center; 
}

/* Imposta l'altezza di html e body al 100% */
html, body { height: 100%; }

/* Stile per il body */
body {
  background: radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #ff0000 150%); /* Sfondo con gradiente radiale */
  overflow: hidden; /* Nasconde le barre di scorrimento */
}

/* Stile per l'oceano */
.ocean { 
  height: 0%; 
  width: 100%; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  background: #015871; 
}

/* Stile per le onde */
.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute; 
    top: -198px; 
    width: 6400px;
    height: 198px; 
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite; /* Animazione dell'onda */
    transform: translate3d(0, 0, 0); /* Trasformazione 3D */
    filter: hue-rotate(180deg) saturate(10); /* Filtro per cambiare il colore */
    z-index: -1; /* Mette in secondo piano l'onda rispetto al contenitore del form */
}

/* Stile per la seconda onda */
.wave:nth-of-type(2) {
  top: -175px; 
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite; 
  opacity: 1; 
}

/* Animazione dell'onda */
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

/* Animazione del gonfiore */
@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}


/* Stile per il footer */
footer {
  background: #e63946;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9em;
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}